{% extends "base.html.twig" %}
{% block body%}
<h1>Editar Producto</h1>
    <div class = "container">
            <div class="wrapper">
                <form role="form" method="post" name="editarProduct" class="form-signin">
                    <h3 class="form-signin-heading">Modificar Producto</h3>
                    <hr class="colorgraph"><br>
                        <input type="text" class="form-control" name="id" placeholder="Id" required autofocus="" disabled value={{ prod.id }} />
                        <input type="text" class="form-control" name="description" placeholder="Descripcion" required autofocus="" value={{ prod.description }} />
                        <input type="text" class="form-control" name="code" placeholder="Codigo" required autofocus="" value={{ prod.code }} />
                        <input type="number" class="form-control" name="load" placeholder="Introduce un Entero" required  autofocus="" value={{ prod.load }} />
                        <input type="number" class="form-control" name="price" placeholder="Introduce un Flotante" required step="any" autofocus="" value={{ prod.price }} />       
                        <input type="text" class="form-control" name="image" placeholder="Imagen" required autofocus="" value={{ prod.image }} />
                 
                        <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="editarProduct" type="Submit">Editar</button>
                </form>
            </div>
    </div>
{%endblock%}