{% extends "base.html.twig" %}
{% block body%}
<h1>Listado de Productos </h1>
  <a class="btn btn-primary" href="/">Crear </a>
    <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Codigo</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>
            {% for prod in prods %}
           <!-- {{ dump(prod) }}-->
              <tr>
                <th scope="row">{{ prod.id }}</th>
                <td>{{ prod.description|slice(0,80) }}</td>
                <td>{{ prod.code }}</td>
                <td>{{ prod.load}} </td>
                <td><a class="btn btn-success" href="/updateProduct/{{prod.id}}">Editar</td>
                <td><a id ="#{{prod.id}}" class="btn btn-danger" href="#" onclick="deleteMsg('{{prod.description}}','{{prod.id}}')">Borrar</td>
              </tr>
            {% endfor %}
              </tbody>
            </table>

            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Borrar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                  </div>
                </div>
              </div>
            </div>
  {%endblock%}